body{
background-color: black;
color: white;
font-family: 'Press Start 2P', cursive;
margin-left:15%;
margin-right:15%;
margin-top:4%;
margin-bottom:4%;
}

img{
width: 50px;
}

.contianer{
width：100%;
}

.block{
 width:10%;
}
ul{
 font-size:15px;
 line-height:2em;
}
.introduction{
width:100%;
}



.text{
}


p{
}

h1{

}
.emoji_box{
  width:100%;
  font-size: 19px;
  display: flex;
  border-style: dotted;
  border-color: white;

}
.canvas{
 width:570px;
}

#intro{



}

.copy:hover{
 color: black;
 
}

.copy{
margin-left:80%;
}

.tool{
  width:40%;
  border:2px;
  border-color:white;

}
.emoji{
    padding: 5px;
    cursor: pointer
    &:hover;
}

textarea{
    font-size: 20px;
    background-color:black;
    color: white;
    
}

.hidden {
  opacity:0;
}
.console-container {
 
  font-family:Khula;
  font-size:4em;
  text-align:center;
  height:200px;
  width:600px;
  display:block;
  position:absolute;
  color:white;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
}
.console-underscore {
   display:inline-block;
  position:relative;
  top:-0.14em;
  left:10px;
}

@media only screen and (max-width: 600px) {
 
 body{
 font-size: 17px;
 }
 
 
 .introduction{
 display:none;
 }
 
 p{
  font-size: 10px;
 }
 
 li{
   font-size: 10px;
 }
  .emoji_box{
  font-size: 20px;
  display: flex;
  border-style: solid;
  border-color: white;
  margin-left：45%；
}
 
.tool{
  width:100%;
  height: 70px;
  border: 2px;
  border-color:white;

}
.emoji{
    padding: 5px;
    cursor: pointer
    &:hover;
    font-size: 10px;
}
.copy{
margin-left:70%;

}
img{
   width: 20px;
}
textarea{
    font-size: 15px;
    width:340px;
    height:300px;
    background-color:black;
    color: white;
  
  
  
  
}